athina/adata*/
athina/__pycache__
athina/assignment_*
.dropbox.attr
athina/athina.lock
athina/mossnet.pl
config/*
tests1/*
.idea/*
athina.egg*
/dist/
*.pyc
/*.egg-info
/build/
venv
/.gtm/
tests/user_data.pkl
.eggs