-e git+https://github.com/athina-edu/athina.git@6591a9f5d6adf0d5b3da0cecc07af5e7c07afe2d#egg=athina
beautifulsoup4==4.14.3
certifi==2025.11.12
charset-normalizer==3.4.4
coverage==7.13.1
docker==7.1.0
filelock==3.20.1
gitdb==4.0.12
GitPython==3.1.45
idna==3.11
iniconfig==2.3.0
lxml==6.0.2
mosspy==1.0.9
numpy==2.4.0
packaging==25.0
peewee==3.18.3
pluggy==1.6.0
psutil==7.2.1
Pygments==2.19.2
PyMySQL==1.1.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
six==1.17.0
smmap==5.0.2
soupsieve==2.8.1
typing_extensions==4.15.0
urllib3==2.6.2
