-e git+https://github.com/athina-edu/athina.git@80020337f9d9ad1840dd4224fd7c8bc89190a939#egg=athina
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
filelock==3.0.12
gitdb2==2.0.6
GitPython==3.0.5
idna==2.8
lxml==4.4.2
mosspy==1.0.8
np==1.0.2
numpy==1.18.1
peewee==3.13.1
pkg-resources==0.0.0
psutil==5.6.7
PyMySQL==0.9.3
python-dateutil==2.8.1
PyYAML==5.3
requests==2.22.0
six==1.13.0
smmap2==2.0.5
soupsieve==1.9.5
urllib3==1.25.7
