<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="mt-2">
<h3><b>Welcome</b></h3>
<hr>

<p>Athina is a formative assessment tool for programming assignments and this is its Web Interface.</p>

<p>Through this interface you can manage assignments for multiple courses by creating assignments and uploading
    configuration and test files among other things.</p>

<p>Any bugs or features requests can be send to: Michael.Tsikerdekis(at)wwu.edu</p>

<p>If you need an account on this installation, contact the individual that set this server up.</p>
</div>
{% endblock %}